.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.basepoint {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  margin-top: -165px;
  background: #f00;
}

.face {
  position: absolute;
  top: 80px;
  left: -163px;
  box-sizing: border-box;
  width: 326px;
  height: 250px;
  background: #fcb3cc;
  border: 5px solid #1d1220;
  border-radius: 50%;
}

.earR {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100px;
  height: 200px;
  background: #fcb3cc;
  border: 5px solid #1d1220;
  border-radius: 50%;
}

.earL {
  position: absolute;
  top: 0;
  right: 3px;
  box-sizing: border-box;
  width: 100px;
  height: 200px;
  background: #fcb3cc;
  border: 5px solid #1d1220;
  border-radius: 50%;
}

.earpanel {
  position: absolute;
  top: 80px;
  left: -93px;
  box-sizing: border-box;
  width: 187px;
  height: 32px;
  background: #fcb3cc;
}

.ribbonR {
  position: absolute;
  top: 70px;
  left: 2px;
  width: 60px;
  height: 60px;
  line-height: 10px;
  background-color: rgb(85 241 249);
  border: 5px solid #1d1220;
  border-radius: 50%;
}

.ribbonL {
  position: absolute;
  top: 70px;
  left: -60px;
  width: 60px;
  height: 60px;
  line-height: 10px;
  background-color: rgb(85 241 249);
  border: 5px solid #1d1220;
  border-radius: 50%;
}

.ribbonS {
  position: absolute;
  top: 80px;
  left: -18px;
  width: 40px;
  height: 40px;
  line-height: 10px;
  background-color: rgb(85 241 249);
  border: 5px solid #1d1220;
  border-radius: 50%;
}

.eyeL {
  position: absolute;
  top: 165px;
  left: -65px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  background: #060103;
  border-radius: 50%;
}

.eyeR {
  position: absolute;
  top: 165px;
  left: 50px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  background: #060103;
  border-radius: 50%;
}

.mouthS {
  position: absolute;
  top: 205px;
  left: -30px;
  box-sizing: border-box;
  width: 60px;
  height: 80px;
  background: #fcb3cc;
  border: 5px solid #1d1220;
  border-radius: 50%;
}

.mouthSpanel {
  position: absolute;
  top: 215px;
  left: -60px;
  box-sizing: border-box;
  width: 90px;
  height: 55px;
  background: #fcb3cc;
}

.mouthS2 {
  position: absolute;
  top: 223px;
  left: -18px;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  background: #060103;
  border-radius: 50%;
}

.mouthSpanel2 {
  position: absolute;
  top: 212px;
  left: -18px;
  box-sizing: border-box;
  width: 35px;
  height: 30px;
  background: #fcb3cc;
  border-radius: 50%;
}

.mouthL {
  position: absolute;
  top: 210px;
  left: -50px;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  background: #fcb3cc;
  border: 5px solid #1d1220;
  border-radius: 50%;
}

.mouthSpanel3 {
  position: absolute;
  top: 206px;
  left: -50px;
  box-sizing: border-box;
  width: 38px;
  height: 32px;
  background: #fcb3cc;
  border-radius: 50%;
}

.mouthR {
  position: absolute;
  top: 213px;
  left: 15px;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  background: #fcb3cc;
  border: 5px solid #1d1220;
  border-radius: 50%;
}

.mouthSpanel4 {
  position: absolute;
  top: 208px;
  left: 14px;
  box-sizing: border-box;
  width: 38px;
  height: 32px;
  background: #fcb3cc;
  border-radius: 50%;
}
